// Color palette definition
// Naming from https://chir.ag/projects/name-that-color/#E6E6E6
$white: #FFFFFF;
$mercury: #E6E6E6;
$lochmara: #07C;
$grenadier: #D14800;
$tango: #F48024;

// Match
$header-bg: $white;
$header-border: $mercury;
$logo-primary: $lochmara;
$logo-secondary: $grenadier;
$logo-hover: $grenadier;
$nav-color: $tango;
