// Color palette definition
// Naming from https://chir.ag/projects/name-that-color/#E6E6E6
$white: #FFFFFF;
$mercury: #E6E6E6;
$lochmara: #07C;
$grenadier: #D14800;
$tango: #F48024;
$darkgrey: darkgrey;
$silver: #BDBDBD;
$doveGray: #616161;
$alabaster: #FAFAFA;

$abbey: #535a60; // what?
$black: #000; // what?
$roseBud: #f7b5a9; // Admin

// Border
$border: $mercury;

// App Header
$header-bg: $white;
$logo-primary: $lochmara;
$logo-secondary: $grenadier;
$logo-hover: $grenadier;
$nav-color: $tango;
$tdm-color: $darkgrey;

// Button
$button-color: $tango;
$button-bg: $white;
$button-hover: $grenadier;

$button-disabled-bg: $silver;
$button-disabled-border: $doveGray;
$button-disabled-color: $alabaster;
$button-color-light: $roseBud; // Admin

// Article Card + ChapterCard + PhotoCard
$card-text: $darkgrey;
$card-bg: $white;
$card-color-weird: $abbey; // what?
$card-title: $lochmara;
$card-placeholder: $black; // what?

// Comments
$comment-form-bg: $white;
$comment-form-color: $abbey;
$comment-form-label: $lochmara;
$comment-card-bg: $white;
$comment-card-color: $abbey;
$comment-card-label: $lochmara;

// Pin Color
// Pin-red: $tango + $lochmara
// Pin-green: green + $tango
// Pin-bleu: $lochmara + $tango
