@font-face {
  font-family: 'Apple Chancery';
  font-weight: bold;
  font-style: italic;
  src:
  local(cursive),
  local(Apple Chancery),
  local(Snell Roundhand),
  local(Brush Script Std),
  url('//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.woff2') format('woff2'),
  url('//db.onlinewebfonts.com/t/596ad608a41bd28960c777827cdd6af1.woff') format('woff');
  font-display: swap;
}
